body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  font-size:22px;
  color:rgb(46, 46, 46);
  text-align:center;
  padding:5px;
}

h2 {
  font-size: 14px;
  color:rgb(46, 46, 46);
  }

  .container {
    text-align:center;
  }

  .preview {
    font-size:14;
}
  
.baku {
    background-image: url("https://github.com/AKennedy927/css-exercise-four/blob/master/images/baku.jpg?raw=true");
    width:350px;
    height:200px;
    background-size:100%;
    background-repeat:no-repeat;
  }

  .london {
    background-image: url("https://github.com/AKennedy927/css-exercise-four/blob/master/images/london.png?raw=true");
    width:350px;
    height:200px;
    background-size:100%;
    background-repeat:no-repeat;
  }

  .madrid {
    background-image: url("https://github.com/AKennedy927/css-exercise-four/blob/master/images/madrid.jpg?raw=true");
    width:350px;
    height:200px;
    background-size:100%;
    background-repeat:no-repeat;
  }

  .rome {
    background-image: url("https://github.com/AKennedy927/css-exercise-four/blob/master/images/rome.jpg?raw=true");
    width:350px;
    height:200px;
    background-size:100%;
    background-repeat:no-repeat;
  }
    
  div {
      max-width:100%;
      display:inline-block;
      background-size:contain;
      height:100%
    }
  
  @media (min-width: 575px) {
    div  {
      margin:1px;
      max-width: 48%;
      background-size:contain;
      height:100%
    }
  }
   
  @media (min-width: 991px) {
      div {
        margin: 1px;
        max-width: 24%;
        background-size:contain;
        height:100%;
      }
    }
  
