body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  font-size:22px;
  color:rgb(46, 46, 46);
  text-align:center;
  padding:5px;
}

h2 {
  font-size: 18px;
  color:rgb(46, 46, 46);
  }

.container {
  text-align:center;
}

img {
  max-width:100%;
  display:inline-block;
}
  
div {
    max-width:100%;
    display:inline-block;
  }

@media (min-width: 575px) {
  div  {
    margin:1px;
    max-width: 48%;
  }
}

  @media (min-width: 991px) {
    div {
      margin: 1px;
      max-width: 24%;
    }
  }
